.menu {
    width: 200px;
    background-color: rgba(0, 0, 0);
    height: 100vh;
}

.menu .title {
    padding: 10px 20px;
    color: #eee;
    font-size: 15px;
    border-left: 4px solid transparent;
    cursor: pointer;
}

.menu>li.active .title {
    border-left-color: yellow;
}

.menu .list {
    background-color: #2b2b2b;
}

.menu .list li {
    padding: 8px 20px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

.menu .list li:hover {
    background: rgba(255, 255, 0, 0.369);
}

.menu .list>li.active {
    background: yellow;
    color: #2b2b2b;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to
/* .fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}